@import '~@fekit/react-layer/theme/am-view-aa';
.load {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 100;

  @include theme {
    background: co(back);
  }

  .icon-logo {
    font-size: 3rem;
    line-height: 0.5;
    @include theme {
      color: co(main);
    }
  }
}

@keyframes am-load-dot1 {
  0%,
  19% {
    opacity: 0;
  }
  20%,
  100% {
    opacity: 1;
  }
}
@keyframes am-load-dot2 {
  0%,
  39% {
    opacity: 0;
  }
  40%,
  100% {
    opacity: 1;
  }
}
@keyframes am-load-dot3 {
  0%,
  59% {
    opacity: 0;
  }
  60%,
  100% {
    opacity: 1;
  }
}

.load-dot {
  span {
    opacity: 0;

    &:nth-child(1) {
      animation: am-load-dot1 2s infinite;
    }

    &:nth-child(2) {
      animation: am-load-dot2 2s infinite;
    }

    &:nth-child(3) {
      animation: am-load-dot3 2s infinite;
    }
  }
}
