.login {
  & {
    width: 100%;
    height: 100%;
    @include theme {
      background: co(back);
    }
  }

  .login-back {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
  }
  .login-main {
    position: relative;
    width: 100%;
    height: 100%;
  }
  .login-wrap {
    position: relative;
    width: 50rem;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
    overflow: hidden;

    @include theme {
      background: co(fore);
      box-shadow: 0 0 1rem rgba(0, 0, 0, 0.05);
    }
    // 移动端
    @include med('<pad') {
      & {
        width: 24rem;
      }
      @include theme {
        background: co(fore);
      }
    }
  }

  // 标志
  .login-logo {
    font-size: 2.5rem;
    line-height: 1;
  }

  // 左边
  .login-l {
    padding: 2rem;
    z-index: 3;
    @include med('=mob') {
      & {
        text-align: center;
        padding: 1.5rem;
      }
    }
    @include theme {
      color: co(fore);
    }
  }
  // 左边装饰
  @keyframes am-decoration {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(359deg);
    }
  }
  .login-l-decoration {
    position: absolute;
    width: 100%;
    box-sizing: content-box;
    padding-top: 100%;
    pointer-events: none;
    @include theme {
      background-image: linear-gradient(60deg, rgba(co(vice), 0.3) 0%, rgba(co(main), 0.9) 70%);
    }
    border-radius: 40%;
    bottom: -20%;
    right: 58%;
    animation: am-decoration 20s linear infinite;
    z-index: 2;

    &::before,
    &::after {
      position: absolute;
      display: block;
      content: '';
      box-sizing: content-box;
      width: 100%;
      padding-top: 100%;
      left: 3%;
      bottom: -3%;
      transform: rotate(50deg);
    }

    &::before {
      border-radius: 38%;
      @include theme {
        background-image: linear-gradient(-30deg, rgba(co(vice), 0.3) 0%, rgba(co(main), 0.5) 100%);
        animation: am-decoration 10s linear infinite;
      }
    }
    &::after {
      border-radius: 40%;
      @include theme {
        background-image: linear-gradient(30deg, rgba(co(vice), 0.1) 0%, rgba(co(main), 0.3) 100%);
        animation: am-decoration 5s linear infinite;
      }
      @include med('=mob') {
        display: none;
        border-radius: 45%;
      }
    }
  }
  @include med('=mob') {
    .login-l-decoration {
      bottom: 73%;
      left: 12%;
    }
  }

  // 右边
  .login-r {
    padding: 2rem 4rem 2rem 3rem;
    @include med('=mob') {
      & {
        padding: 0 3rem 2rem 1rem;
      }
    }
  }
  .login-slide {
    @include theme {
      background: co(fore);
    }
    min-height: 23rem;
    padding-left: 2.5rem;
    & > * {
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
    }
  }

  .login-title {
    position: relative;
    & > .icon-back {
      position: absolute;
      display: inline-block;
      width: 1rem;
      height: 1rem;
      line-height: 1rem;
      left: -2rem;
      top: 50%;
      font-size: 1.2rem;
      margin-top: -0.4rem;
      transform: translateX(-100%);
      opacity: 0;
      transition: all 0.5s;
      cursor: pointer;

      &:hover {
        @include theme {
          color: co(main);
        }
      }
    }
  }
  .swiper-slide-active {
    .login-title {
      & > .icon-back {
        transform: translateX(0);
        opacity: 1;
      }
    }
  }

  .login-btns {
    padding-left: 2.5rem;
  }

  .login-theme-block {
    height: 2rem;
    border-radius: 0.3rem;
    padding: 3px;
    & > * {
      height: 100%;
      float: left;

      &:first-child {
        border-radius: 0.15rem 0 0 0.15rem;
      }
      &:last-child {
        border-radius: 0 0.15rem 0.15rem 0;
      }
    }
    @include theme {
      border: 1px solid co(line);
    }
  }

  // 语言
  .login-langs {
    max-height: 18rem;
    padding-right: 1rem;

    & > * {
      margin: 0.5rem 0;
      padding: 0.5rem;
      border-radius: 0.3rem;
      transition: all 0.35s;
      cursor: pointer;
      & > * {
        transition: transform 0.35s;
        transform: translateX(0);
      }

      &.active,
      &:hover {
        @include theme {
          color: co(main);
          background: co(weak);
        }

        & > * {
          transform: translateX(1em) scale3d(1, 1, 1);
        }
      }
    }
  }
  .lang-img {
    position: relative;
    width: auto;
    height: 1em;
    display: inline-block;
    vertical-align: middle;
    margin-top: -0.1em;
    margin-top: -0.2em;
    margin-right: 0.5rem;
    @include theme {
      // border: 1px solid co(text);
    }
  }
}
