/**
 * 请注意，因为这个脚手架开启了PX转REM,所以如果有NPM插件组件不希望PX被转成REM的请不要在这里导入样式，而是直接在index.tsx中导入
 */

$theme: (
  light: (
    main: #ff563f,
    vice: #ff7700,
    text: #222222,
    fore: #ffffff,
    back: #f5f5f5,
    land: #ff9900,
    link: #dd7f49,
    code: #e23861,
    well: #4bbc73,
    warn: #fb9a2a,
    risk: #f95850,
    info: #0889e4
  ),
  sea: (
    main: #0889e4,
    vice: #239ef7,
    text: #222222,
    fore: #ffffff,
    back: #f5f5f5,
    land: #ff9900,
    link: #dd7f49,
    code: #e23861,
    well: #4bbc73,
    warn: #fb9a2a,
    risk: #f95850,
    info: #0889e4
  ),
  dark: (
    main: #08e598,
    vice: #b54eea,
    text: rgba(255, 255, 255, 0.7),
    fore: #1d1d1d,
    back: #151515,
    land: #ff9900,
    link: #dd7f49,
    code: #e23861,
    well: #4bbc73,
    warn: #fb9a2a,
    risk: #f95850,
    info: #0889e4
  )
);

#root {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  // border: 1px solid green;
  // -webkit-text-fill-color: green;
  // -webkit-box-shadow: 0 0 0px 1000px #000 inset;
  transition: background-color 1s 10s;
}

// 核心
@import '@mcui/core';
// 按钮
@import '@mcui/btns/btns@a';
// 备注
@import '@mcui/note/note@b';
// 卡片
@import '@mcui/card/card@a';
// 列表
@import '@mcui/list/list@b';
// 选项卡
@import '@mcui/tabs/tabs@a';
// 标签
@import '@mcui/tags/tags@a';
// 表格
@import '@mcui/table/table@a';
// 导航
@import '@mcui/navs/navs@a';
@import '@mcui/navs/navs@b';
// 图片
@import '@mcui/imgs/imgs@a';
// 表单
@import '@mcui/form/form@b';

// 图标
@import '../font/iconfont.css';

// 插件
// @import '~@feiit/toast/theme/toast@ac.scss';
// @import '~swiper/swiper.scss';
// @import '~swiper/components/effect-fade/effect-fade.min.css';
// @import '~swiper/components/scrollbar/scrollbar.min.css';
// @import '@fekit/mc-toast/theme/mc-toast@theme=ac.scss';

// 组件
@import './common.scss';
@import './load.scss';
@import './login.scss';
@import './home.scss';
@import './popupDemo.scss';
@import './header.scss';
@import './sidebar.scss';
