.user {
  // 侧边栏
  .side {
    position: fixed;
    left: 0;
    top: 0;
    width: 5rem;
    padding-top: 4rem;
    @include med('=mob') {
      width: 18rem;
      transform: translate3d(-100%, 0, 0);
    }
    height: 100%;
    z-index: 3;
    @include theme {
      background: co(fore);
      box-shadow: 0 0 0.5rem rgba(co(deep), 0.95);
    }
    transition: width 0.3s;
  }

  // 移动端暗层
  .side-mob-hide {
    position: absolute;
    width: 0rem;
    height: 100%;
    opacity: 0;
    pointer-events: none;
  }
  // 标题
  .side-header {
    position: absolute;
    width: 100%;
    height: 4rem;
    left: 0;
    top: 0;
    line-height: 2rem;
    padding: 1rem;
    white-space: nowrap;
    @include theme {
      box-shadow: 0 1px 0 co(deep);
    }
  }

  .side-list {
    & > * {
      position: relative;
      white-space: nowrap;
      padding: 0.5rem 1rem;
      user-select: none;

      & > * {
        position: relative;
        display: block;
        cursor: pointer;
        transition: font-size 0.35s;

        & > * {
          position: relative;
          display: block;
        }
      }

      &:hover {
        .side-list-tow {
          opacity: 1;
          transform: translate3d(0, 0, 0);
          pointer-events: auto;
          @include theme {
            background: co(fore);
          }
        }
      }

      &.active {
        @include theme {
          color: co(main);
        }

        &::before {
          position: absolute;
          content: '';
          width: 2px;
          height: 3rem;
          left: 0;
          top: 0.5rem;
          @include theme {
            background: co(main);
          }
        }
      }
    }

    .icon {
      font-size: 1.2rem;
    }
  }
  .side-header-title,
  .side-list-item-name {
    transition: opacity 0.35s;
    opacity: 0;
    vertical-align: middle;
    pointer-events: none;
  }

  .side-middle {
    position: relative;
    height: 100%;
    & > * {
      height: 100%;
    }
  }

  // 隐藏时
  &[side~='hide'] {
    .side-list-tow {
      position: absolute;
      width: 12rem;
      top: -1rem;
      left: 5rem;
      padding: 1rem 1rem;
      border-radius: 0.3rem;
      line-height: 3rem;
      opacity: 0;
      transform: translate3d(1rem, 0, 0);
      pointer-events: none;
      @include theme {
        color: co(read);
      }
      transition: opacity 0.35s, transform 0.35s;
      &::before {
        position: absolute;
        content: '';
        display: block;
        width: 0;
        height: 0;
        box-sizing: content-box;
        border: 6px solid transparent;
        right: 99.9%;
        top: 2.5rem;
        margin-top: -6px;
        @include theme {
          border-right-color: co(fore);
        }
      }
      &::after {
        position: absolute;
        content: '';
        display: block;
        width: 1rem;
        top: 0;
        bottom: 0;
        right: 100%;
      }

      & > * {
        padding: 0 1rem;
        border-radius: 0.3rem;
        &:hover {
          @include theme {
            background: co(weak);
          }
        }
      }
    }
    .side-list-item-sown {
      pointer-events: none;
      opacity: 0;
    }
  }

  // 展开时
  &[side~='open'] {
    & {
      padding-left: 18rem;

      @include med('=mob') {
        padding-left: 0;
        transform: translate3d(18rem, 0, 0);
      }

      .side {
        width: 18rem;
        .side-header-title,
        .side-list-item-name {
          opacity: 1;
          pointer-events: auto;
          vertical-align: middle;
          transition: opacity 0.35s 0.2s;
        }
      }
    }

    .side-list-tow {
      position: relative;
      width: 100%;
      padding-left: 3.2rem;
      line-height: 3rem;
      opacity: 0;
      overflow: hidden;
      @include theme {
        color: co(read);
      }

      & > * {
        opacity: 0;
        height: 0;
        transition: height 0.5s;
      }

      &::before {
        position: absolute;
        content: '';
        display: none;
        width: 0;
        height: 0;
        box-sizing: content-box;
        border: 6px solid transparent;
        right: 99.9%;
        top: 2.5rem;
        margin-top: -6px;
        @include theme {
          border-right-color: co(fore);
        }
      }
      &::after {
        position: absolute;
        content: '';
        display: none;
        width: 1rem;
        top: 0;
        bottom: 0;
        right: 100%;
      }
    }

    .side-list-item-sown {
      position: absolute;
      display: block;
      width: 2rem;
      height: 2rem;
      line-height: 2rem;
      right: 0;
      top: 50%;
      text-align: center;
      margin-top: -1rem;
      transform-origin: 50% 50%;
      transform: rotate(0deg) scale3d(1, 1, 1);
      opacity: 1;
      transition: transform 0.35s, opacity 0.35s 0.2s;
      pointer-events: auto;
    }

    .side-list > *.active {
      .side-list-tow {
        opacity: 1;
        & > * {
          opacity: 1;
          height: 3rem;
        }
      }

      .side-list-item-sown {
        transform: rotate(-180deg) scale3d(1, 1, 1);
      }
    }
  }
}
